body {
  padding: 0;
  margin: 0;
}

.parent-square {
  float: left;
  overflow: hidden;
}

  .parent-square-x {

  }

  .parent-square-y {

  }

  .parent-square-rotate {

  }

  .square {
    height: 100px;
    width: 100px;
  }

.pink {
  background: rgba(255,0,128,.5);
}

.yellow {
  background: rgba(255,255,128,.5);
}

.teal {
  background: rgba(0,192,255,.5);
}
