body {
  padding: 0;
  margin: 0;
}

.parent-square {
  left: 0;
  position: absolute;
  top: 0;
  opacity: .5;
}

  .parent-square-x {

  }

  .parent-square-y {

  }

  .parent-square-rotate {

  }

  .parent-square-rotate-x {

  }

  .parent-square-rotate-y {

  }

  .square {
    height: 100px;
    width: 100px;
  }

.pink .square {
  background: rgb(255,0,128);
}

.yellow .square {
  background: rgb(255,255,128);
}

.teal .square {
  background: rgb(0,192,255);
}
